body{
    background-color: grey;
    min-height: 100vh;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.9375rem  ;
    border-radius: 0.625rem;
}


.navbar-expand-lg .navbar-nav .nav-link:hover{
    background-color: grey;
    transition: all 0.5s linear;
    border-radius: 0.625rem;
}


